@{
    ViewBag.Title = "Đăng ký thành công";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<section class="product-area mbottom-30">
    <div class="row">
        <!-- Ket thuc left-->
        <div class="box-left col-md-12 col-sm-12 col-xs-12">
            <div class="label label-success" style="padding: 15px 0; float: left;width: 100%">
                <h3>Tài khoản của bạn đã được tạo!</h3>
                <p>Xin chúc mừng! tài khoản của bạn đã được tạo thành công!</p>
                <p>Bạn có thể hưởng lợi ích từ việc thành thành viên khi mua sắm với gian hàng của chúng tôi.</p>
                <p>Nếu bạn có bất kì câu hỏi về hoạt động của gian hàng, vui lòng gửi email đến ban quản lý.</p>
                <div class="buttons clearfix">
                    <div class="text-center">
                        <a class="btn btn-primary" href="/account/login">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>