@{
    ViewBag.Title = "Reset lại mật khẩu của khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Reset lại mật khẩu khách hàng
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a href="/admin/user/customer">Khách hàng</a></li>

    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("ResetPasswordCustomer", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {<div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                @*@Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-reddit" })*@
                <a href="#" onclick="javascript:history.go(-1);" class="btn btn-reddit">Quay lại</a>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">

                <div class="col-xs-12">
                    <label name="usernameok" title="Tài khoản" class="control-label">Tài khoản</label>
                    <input type="text" value="@ViewBag.Username" name="username" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12">
                    <label name="usernameok" title="Tài khoản" class="control-label">Mật khẩu mới</label>
                    <input type="text" name="newpass" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit">Reset lại mật khẩu</button>
                    <a class="btn" type="submit" href="/admin/user">Quay lại  </a>
                </div>

            </div>
        </div>
    </div>
        @Html.AntiForgeryToken()
    }
</section>
