@{
    string lang = Session["culture"].ToString();
    ViewBag.Title = COMMOM.Interface.ISetting.GetSettingValue("SettingTitle" + lang);
    ViewBag.Keywords = COMMOM.Interface.ISetting.GetSettingValue("SettingMetakeyword" + lang);
    ViewBag.Description = COMMOM.Interface.ISetting.GetSettingValue("SettingMetadescription" + lang);
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}
}
<h1 style="display: none">@COMMOM.Interface.ISetting.GetSettingValue("SettingMetakeyword" + lang)</h1>
<h2 style="display: none">@COMMOM.Interface.ISetting.GetSettingValue("SettingMetadescription" + lang)</h2>

<div class="row">
    <div class="title">
        <h3>Facebook</h3>
    </div>
</div>


