@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: RobotoBold;
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
body {
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  background-color: #fff;
  font-size: 13px;
}
.container {
  width: 1120px !important;
}
/*============================== Header ================================*/
.bg-header-web {
  width: 100%;
  border-bottom: 1px solid #cae5ec;
}
.bg-header-web .header-web {
  position: relative;
}
.bg-header-web .header-web .logo-web {
  float: left;
  width: 100%;
  min-height: 110px;
}
.bg-header-web .header-web .menu-main {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 9;
  background: url(../../../../Images/system/bg-box.png) left top repeat-x;
}
.bg-header-web .header-web .menu-main > ul > li {
  float: left;
  display: block;
  max-width: 135px;
  padding: 9px 0px;
}
.bg-header-web .header-web .menu-main > ul > li > a {
  display: block;
  position: relative;
  line-height: 20px;
  font-family: RobotoRegular;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 10px 0px 40px;
  color: #f9f9ff;
  border-right: 1px solid #6bb0bf;
}
.bg-header-web .header-web .menu-main > ul > li > a:hover {
  color: #da1416;
}
.bg-header-web .header-web .menu-main > ul > li > a span {
  position: absolute;
  width: 40px;
  top: 15%;
  left: 0px;
}
/*============================== Content ==============================*/
.content-web {
  min-height: 250px;
}
.box-slider {
  padding: 0px 0px;
  position: relative;
}
.box-slider a img {
  width: 100%;
}
.box-slider .box-menu-option {
  position: absolute;
  top: 25px;
  right: 25px;
  background: #fff;
  padding: 10px 6px 10px 0px;
  z-index: 999;
}
.box-slider .box-menu-option a {
  display: block;
  line-height: 36px;
  box-shadow: 0 3px 3px #666;
  width: 200px;
  margin-bottom: 6px;
  background: url(../../../../Images/system/bg-menu-option.png) repeat-x left top;
  margin-left: -4px;
  padding: 0px 10px;
  font-size: 18px;
  color: #fff;
}
/*============================== Footer ===============================*/
.bg-footer-web {
  width: 100%;
  background-color: #1893b7;
  padding-top: 30px;
  padding-bottom: 15px;
}
.bg-footer-web .box-footer {
  width: 20%;
}
.bg-footer-web .box-footer h3 {
  width: 100%;
  color: #d3a72b;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}
.bg-footer-web .box-footer ul {
  width: 100%;
}
.bg-footer-web .box-footer ul li {
  padding: 8px 0px;
}
.bg-footer-web .box-footer ul li a {
  color: #ffffff;
}
.bg-footer-web .box-footer ul li a:hover {
  text-decoration: underline;
}
.bg-footer-web .box-footer-bottom {
  margin-top: 15px;
  line-height: 20px;
  color: #ffffff;
  border-top: 1px solid #41d2f7;
  padding-top: 15px;
}
