<ul class="dropdown-menu">
    <li class="header">@StaticResources.Resources.Youhave <span class="total">0</span> @StaticResources.Resources.messages</li>
    <li>
        <!-- inner menu: contains the actual data -->
        <ul class="menu">
           
        </ul>
    </li>
    <li class="footer"><a href="#">@StaticResources.Resources.SeeAllMessages</a></li>
</ul>


