

<h3 style="text-align: center; color:#0094ff">
    Thông tin người đặt
</h3>
<table cellpadding="1" cellspacing="1" style="border-collapse:collapse; border:0px none; width:100%">
    <tbody>
        <tr>
            <td style="width:20px">&nbsp;</td>
            <td style="width:150px; font-weight: bold">Họ t&ecirc;n</td>
            <td style="width:5px">:</td>
            <td>{[FullName]}</td>
        </tr>
        <tr>
            <td style="width:20px">&nbsp;</td>
            <td style="width: 150px; font-weight: bold">Điện thoại</td>
            <td style="width:5px">:</td>
            <td>{[Mobile]}</td>
        </tr>
        <tr>
            <td style="width:20px">&nbsp;</td>
            <td style="width:150px; font-weight: bold">Email</td>
            <td style="width:5px">:</td>
            <td>{Email}</td>
        </tr>
        <tr>
            <td style="width:20px">&nbsp;</td>
            <td style="width: 150px; font-weight: bold">Địa chỉ</td>
            <td style="width:5px">:</td>
            <td>{[Address]}</td>
        </tr>
        <tr>
            <td style="width:20px">&nbsp;</td>
            <td style="width: 150px; font-weight: bold">Ng&agrave;y tạo</td>
            <td style="width:5px">:</td>
            <td>{[CreatedDate]}</td>
        </tr>
    </tbody>
</table>